*{
    margin: 0;
    padding: 0;
}
body{
    /* margin: 0 auto; */
    /* width: 940px; */
    border: 1px solid rgba(92, 92, 92, 0.562);
    background-color: rgb(241, 241, 241);
}
header{
    display: grid;
    grid-template-columns: [a-grid] 50px [nav-grid] auto;
    /* margin-bottom: 10px; */
    background-color: #f3d632;

}
header a{
    display: inline;
    grid-area: a-grid;
    border-bottom: 1px solid #ffd900;
}
/* header a img{
} */
.nav{
    margin-top: 20px;
    grid-area: nav-grid;
    text-align: end;
    margin-right: 5px;
}
.logo-img{
    width: 100%;
}
.nav-link{
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    color: #ed4190;
    text-align: center;
    font-size: 17px;
    background-color: #ffffff80;
    text-decoration: none;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
    border-radius: 3px;
}
.nav-link:hover{
    /* color: rgb(171, 185, 39); */
    background-color: #ffffff;
}
.section-1 img{
    width: 940px;
    height: 450px;
}
.section-1 img{
    margin-bottom: 48px;
}
.section-2{
    margin: 0;
    padding: 0;
    height: auto;
}
.section-2 h1{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 3px rgb(87, 86, 86);
}
.section-2__img{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.section-2__img-items img{
    padding: 3px;
    text-align: center;
    box-shadow: 3px 4px 5px #bdbdbdbb;
}
.section-2__img-items{
    width: 224px;
}
.section-2__text{
    display: inline-block;
    text-align: justify;
}
.footer{
    margin-top: 15px;
    font-size: 20px;
    background-color: #f3d632;
    border: 1px solid #f3d632;
    height: auto;
    display: grid;
    grid-template-areas: "footer_logo footer_text footer_map footer_form"
                        "footer_web footer_web footer_web footer_web    ";
    background: url(./img/Untitled.png);
}
.footer_logo{
    margin-top: 10px;
    grid-area: footer_logo;
    width: 75px;
    height: 75px;
}
.footer_text{
    margin-top: 10px;
    grid-area: footer_text;
    /* margin-left: px; */
    margin-right: 100px;
}
.footer_link{
    grid-area: footer_link;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.footer_link i{
    border: 1px solid;
    width: 25px;
    text-align: center;
    border-radius: 25%;
}
.footer_map{
    margin-top: 10px;
    grid-area: footer_map;
}
.footer_map img{
    width: 300px;
    border-radius: 5px;
}
.footer_form{
    margin-top: 10px;
    grid-area: footer_form;
    /* border: 2px solid; */
}
.form_text{
            
}
.input_form{
    display: block;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border-radius: 1px;
    opacity: 75%;
    border-radius: 5px;
    border: 1px solid white;
}
.btn_form{
    display: block;
    margin-top: 20px;
    height: 25px;
    width: 70px;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    background-color: #ffe760;
    box-shadow: 2px 2px 3px #0f0e07;
    text-decoration: none;
}
.btn_form:hover{
    background: none;
}
.footer_info_web_dev{
    background-color: #f1a1447a;
    margin-top: 30px;
    grid-area: footer_web;
    padding: 3px;
}
.footer_info_web_dev pre{
    margin-left: 10px;
}
/* slide show */
.mySlide{
    display: none;
}
.slide-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    box-shadow: 2px 2px 5px black;
}
.slidecontainer{
    max-width: 940px;
    position: relative;
    margin: auto    ;
}
.prev{
    left: 206px;
}
.next{
    /* margin-right: 205px; */
    right: 206px;
    border-radius: 3px 0 0 3px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover{
    background-color: #000000cc;
}
.text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 940px;
    text-align: center;
}
.numbertext{
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 60px;
    left: 207px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, dot:hover{
    background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}