*{
    margin: 0;
    padding: 0;
}
body{
    /* margin: 0 auto; */
    /* width: 940px; */
    border: 1px solid rgba(92, 92, 92, 0.562);
    background-color: rgb(239, 240, 193);
}
header{
    display: grid;
    grid-template-columns: [a-grid] 50px [nav-grid] auto;
    /* margin-bottom: 10px; */
    background-color: #f3d632;

}
header a{
    display: inline;
    grid-area: a-grid;
    border-bottom: 1px solid #ffd900;
}
/* header a img{
} */
.nav{
    margin-top: 20px;
    grid-area: nav-grid;
    text-align: end;
    margin-right: 5px;
}
.logo-img{
    width: 100%;
}
.nav-link, .nav-search{
    margin: 3px;
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    color: #ed4190;
    text-align: center;
    font-size: 17px;
    background-color: #ffffff80;
    text-decoration: none;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
    border-radius: 3px;
}
.nav-input{
    margin-left: 10px;
    width: 170px;
    height: 23px;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}
.btn-search:hover{
    cursor: pointer;
}
.nav-link:hover, .cart_btn:hover{
    /* color: rgb(171, 185, 39); */
    background-color: #ffffff;
}
.section-1 img{
    width: 940px;
    height: 450px;
}
.section-1 img{
    margin-top: 10px;
    margin-bottom: 48px;
}
.mySlide{
    display: none;
}
.slide-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    box-shadow: 2px 2px 5px black;
}
.slidecontainer{
    max-width: 940px;
    position: relative;
    margin: auto    ;
}
.prev{
    left: 206px;
}
.next{
    /* margin-right: 205px; */
    right: 206px;
    border-radius: 3px 0 0 3px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover{
    background-color: #000000cc;
}
.text{
    color: #000000;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}
.numbertext{
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 60px;
    left: 207px;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, dot:hover{
    background-color: #717171;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}
.section-2{
    margin-left: 20px;
    height: auto;
    /* position: relativ; */
}
.section-2_text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
.pos_gh{
    position: absolute;
    right: 10px;
    height: 1210px;
}
.gio_hang{
    /* text-align: center; */
    position: sticky;
    top: 271px;
    left: 1130px;
    width: 200px;
    height: 271px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-areas: "text" "item" "btn";
    grid-template-rows: 30px auto 26px;
}
.cart_text{
    text-align: center;
    grid-area: text;
    height: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    border-bottom: 2px dotted black;
}
.sup_cart_items{
    grid-area: item;
    margin-bottom: 5px;
    margin-top: 5px;

    
}
.select_items{
    margin-left: 2px;
}
.name_item{

}
.quantity{
    margin-right: 2px;
}
.cart_btn{
    border: 1px solid #fff;
    padding: 2px 4px;
    height: 20px;
    width: 190px;
    color: #ed4190;
    text-align: center;
    font-size: 17px;
    background-color: #f3d632;
    text-decoration: none;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
    border-radius: 3px;
    grid-area: btn;
}
.hu_tieu, .banh_canh, .pho, .bun_rieu{
    margin-bottom: 40px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
}
.container_img{
    margin-right: 40px;
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(121, 121, 121);
}

.image{
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container_img:hover .image{
    opacity: 0.3;
}
.container_img:hover .overlay{
    opacity: 1;
}
.price{
    background-color: #ffec83;
    color: rgb(0, 0, 0);
    font-size: large;
    padding: 20px 35px;
    /* border: solid #000 3px; */
    border-radius: 10px 100px / 120px;
}
.add_items{
    display: block;
    text-align: center;
    cursor: pointer;
    height: 20px;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #ffeb7c;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgb(121, 121, 121);
    grid-area: add_item;

}

.info_items{
    position: absolute;
    display: grid;
    grid-template-areas: 'add_item cart';
}
.footer{
    margin-top: 15px;
    font-size: 20px;
    background-color: #f3d632;
    border: 1px solid #f3d632;
    height: auto;
    display: grid;
    grid-template-areas: "footer_logo footer_text footer_map footer_form"
                        "footer_web footer_web footer_web footer_web    ";
    background: url(./img/Untitled.png);
}
.footer_logo{
    margin-top: 10px;
    grid-area: footer_logo;
    width: 75px;
    height: 75px;
}
.footer_text{
    margin-top: 10px;
    grid-area: footer_text;
    /* margin-left: px; */
    margin-right: 100px;
}
.footer_link{
    grid-area: footer_link;
    margin-top: 10px;
}
.footer_link i{
    border: 1px solid;
    width: 25px;
    text-align: center;
    border-radius: 25%;
    margin-right: 15px;
}
.footer_map{
    margin-top: 10px;
    grid-area: footer_map;
}
.footer_map img{
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #24231c;
}
.footer_form{
    margin-top: 10px;
    grid-area: footer_form;
    /* border: 2px solid; */
}
.form_text{
            
}
.input_form{
    display: block;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border-radius: 1px;
    opacity: 75%;
    border-radius: 5px;
    border: 1px solid white;
}
.btn_form{
    display: block;
    margin-top: 20px;
    height: 25px;
    width: 70px;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    background-color: #ffe760;
    box-shadow: 2px 2px 3px #0f0e07;
    text-decoration: none;
}
.btn_form:hover{
    background: none;
}
.footer_info_web_dev{
    background-color: #f1a1447a;
    margin-top: 30px;
    grid-area: footer_web;
    padding: 3px;
}
.footer_info_web_dev pre{
    margin-left: 10px;
}
/* slide show */
